<html>
<body>
<pre>
Hello VM!

$value2$!{value2}${value2}$!value2

#foreach($color in $list)
Color $foreach.index/$foreach.count: $color
#end

#foreach(${color} in ${list})
Color ${foreach.index}/${foreach.count}: ${color}
#end

#foreach($!{color} in $!{list})
Color $!{foreach.index}/$!{foreach.count}: $!{color}
#end

#foreach($!color in $!list)
Color $!foreach.index/$!foreach.count: $!color
#end

#foreach($key in $map.keySet())
Number $foreach.index/$foreach.count: $key $map.get($key)
#end

#foreach($kv in $map.entrySet())
Number $foreach.index/$foreach.count: $kv.key $kv.value
#end

#set($title = "nowcoder")
#include("header.vm")<br>
#parse("header.vm")

#macro(render_color $color, $index)
Color By Macro $index, $color
#end

#foreach($color in $list)
#render_color($color, $foreach.index)
#end

#set($hello = "hello")
#set($hworld1 = "$hello world")
#set($hworld2 = '$hello world')

hworld1: $hworld1
hworld2: $hworld2

</pre>
</body>
</html>